$def with (page)
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Control Escolar</title>
  </head>
    <body>
      <!-- Image and text -->
      <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <table  style="margin: 0 auto;">
              <tr>
                <th scope="col"><h5 class="text-white h4" ><p class="text-center" >Centro de Bachillerato Tecnológico Agropecuario No. 179</p></h5></th>
                <th scope="col">&nbsp&nbsp</th>
                <th scope="col"><img src="../../static/images/LOGO_BLANCO.png" width="140" height="135" alt="Logo Cbta179"></th>
              </tr>
            </table>
          </div>
        </div>
       <nav class="navbar sticky-top navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <img class="rounded mx-auto d-block">
          <a href="https://www.facebook.com/CBTA-179-Zozea-Alfajayucan-Hidalgo-2246235482280070/"><img src="../../static/images/face.png" width="30" height="30" alt="Logo Facebook"></a>&nbsp;
          <a href="https://twitter.com/Cbta179_oficial"><img src="../../static/images/twitter.png"  width="30" height="30" alt="Logo Twitter"></a>&nbsp;
          <div class="btn-group" role="group" aria-label="...">
            <a href='/' button type="button" class="btn btn-secondary">Inicio</button></a>
            <a href='/insert' button type="button" class="btn btn-secondary">Insertar</button></a>
          </div>
        </nav>
        <div class="container">
                $:page
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
