$def with(datos)
<BR>
  <table cellspacing="0" width="100%">
     <tr>
      <p class="text-primary bg-dark text-center h2" >ACTUALIZAR</p>
      </tr>
  </table> 

<form method="POST">
    <!--<div class="form-group">-->
      <div class="form-row">
      <div class="col-md-2 mb-4">
      <label for="matricula">Matrícula</label>
      <input type="text" class="form-control" readonly="true" value="$datos.matricula" id="matricula" maxlength="14" name="matricula" placeholder="Enter matricula">
      </div>
    
    <div class="col-md-3 mb-4">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" value="$datos.nombre" maxlength="10" name="nombre" id="nombre" onKeyUp="this.value=this.value.toUpperCase();">
    </div>
  
    <div class="col-md-3 mb-4">
      <label for="a_paterno">A. Paterno</label>
      <input type="text" class="form-control" value="$datos.a_paterno" maxlength="15" name="a_paterno" id="a_paterno" onKeyUp="this.value=this.value.toUpperCase();">
    </div>

    <div class="col-md-3 mb-4">
      <label for="a_materno">A. Materno</label>
      <input type="text" class="form-control" value="$datos.a_materno" maxlength="15" name="a_materno" id="a_materno" onKeyUp="this.value=this.value.toUpperCase();">
    </div>
      </div>
    <div class="form-row">
    <div class="col-md-3 mb-4">
    <label for="calle">Calle</label>
    <input type="text" class="form-control" value="$datos.calle" maxlength="40" name="calle" id="calle" onKeyUp="this.value=this.value.toUpperCase();">
  </div>
  <div class="col-md-1 mb-1">
      <label for="numero">Número</label>
      <input type="text" class="form-control" value="$datos.numero" maxlength="4" name="numero" id="numero">
    </div>
    <div class="col-md-3 mb-4">
        <label for="colonia">Col.</label>
        <input type="text" class="form-control" value="$datos.colonia" maxlength="40" name="colonia" id="colonia" onKeyUp="this.value=this.value.toUpperCase();">
      </div>
      <div class="col-md-3 mb-4">
          <label for="municipio">Municipio</label>
          <input type="text" class="form-control" value="$datos.municipio" maxlength="30" name="municipio" id="municipio" onKeyUp="this.value=this.value.toUpperCase();">
        </div>
      </div>
      <div class="form-row">
      <div class="form-group col-md-4">
      <label for="estado">Estado</label>
      <select id="estado" class="form-control" value="$datos.estado" name="estado">
        <option selected>Choose...</option>
        <option>AGUASCALIENTES</option><option>BAJA CALIFORNIA</option><option>BAJA CALIFORNIA SUR</option><option>HIDALGO</option>
        
      </select>
    </div>
    <div class="col-md-4 mb-5">
      <label for="cp">Código Postal</label>
      <input type="Zip" class="form-control" value="$datos.cp" maxlength="5" name="cp" id="cp">
    </div>
  </div>


<div class="form-row">
<div class="form-group col-md-6">
  <label for="email">Email</label>
  <input type="email" class="form-control" value="$datos.email" name="email" id="email" placeholder="Email">
  <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más.</small>
</div> 
<div class="form-group col-md-6">
  <label for="password">Password</label>
  <input type="text" class="form-control" value="$datos.password" pattern=".{8,}" required title="minimo 8 caracteres" maxlength="16"  name="password" id="password" placeholder="Password">
</div>

<button type="submit" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Actualizar</button>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      Se han actualizado los datos.
    </div>
  </div>
</div>

  </form>